.generator {
  border-right: 2pt solid #22dffd;
}

.generator > hr {
  display: none;
}

@media only screen and (max-width: 768px) {
  .generator {
    border: none;
  }
  .generator > hr {
    display: block;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
